.desktop-twentysix {
    background-color: var(--gray_900_01);
    width: 100%;
  }
  
  .newscreenbody {
    height: 918px;
    position: relative;
  }
  
  .view {
    height: 818px;
    background-color: var(--gray_900);
    width: 100%;
    position: absolute;
    bottom: 21px;
    right: 0px;
    left: 0px;
    max-width: 1340px;
    margin: auto;
    border-radius: var(--radius-sm);
    @media only screen and (max-width: 1050px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  .row {
    flex: 1;
    display: flex;
    align-items: start;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    height: max-content;
    margin: auto;
    @media only screen and (max-width: 1050px) {
      flex-direction: column;
      position: relative;
    }
  }
  
  .image {
    height: 124px;
    margin-top: 20px;
    z-index: 2;
    width: 18%;
    position: relative;
    object-fit: contain;
    @media only screen and (max-width: 1050px) {
      width: 100%;
    }
  }
  
  .rowwhatdoyou {
    margin-left: -62px;
    align-self: center;
    position: relative;
    flex: 1;
    display: flex;
    align-items: start;
    @media only screen and (max-width: 1050px) {
      align-self: stretch;
      flex-direction: column;
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 0px;
    }
  }
  
  .whatdoyou {
    margin-top: 324px;
    z-index: 1;
    position: relative;
    width: 54%;
    line-height: 51px;
    @media only screen and (max-width: 1050px) {
      width: 100%;
    }
  }
  
  .designer_one {
    height: 918px;
    margin-left: -30px;
    opacity: 0.3;
    align-self: center;
    position: relative;
    width: 44%;
    object-fit: contain;
    @media only screen and (max-width: 1050px) {
      width: 100%;
      margin-left: 0px;
    }
  }
  
  .iconoirhome_one {
    height: 44px;
    width: 44px;
    position: absolute;
    right: 10%;
    top: 17%;
    margin: auto;
  }
  
  .myactivity {
    z-index: 3;
    position: absolute;
    left: 16%;
    top: 15%;
    margin: auto;
  }
  
  .my_claims {
    color: var(--black_900);
    padding-left: 34px;
    padding-right: 34px;
    font-size: 34px;
    background-color: var(--yellow_100);
    box-shadow: var(--shadow-xs);
    text-align: center;
    height: 62px;
    min-width: 666px;
    position: absolute;
    bottom: 31%;
    left: 14%;
    margin: auto;
    border-radius: var(--radius-xs);
    @media only screen and (max-width: 1050px) {
      font-size: 32px;
    }
  
    @media only screen and (max-width: 550px) {
      font-size: 30px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  .my_reports {
    color: var(--black_900);
    padding-left: 34px;
    padding-right: 34px;
    font-size: 34px;
    background-color: var(--yellow_100);
    box-shadow: var(--shadow-xs);
    text-align: center;
    height: 62px;
    min-width: 666px;
    position: absolute;
    bottom: 22%;
    left: 14%;
    margin: auto;
    border-radius: var(--radius-xs);
    @media only screen and (max-width: 1050px) {
      font-size: 32px;
    }
  
    @media only screen and (max-width: 550px) {
      font-size: 30px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  .footerfooterlog {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    @media only screen and (max-width: 550px) {
      flex-direction: column;
    }
  }
  
  .footerlogo_one {
    height: 72px;
    margin-left: 124px;
    width: 158px;
    object-fit: contain;
    @media only screen and (max-width: 550px) {
      margin-left: 0px;
    }
  }
  
  .rowfindus {
    gap: 28px;
    align-self: center;
    display: flex;
    width: 24%;
    justify-content: center;
    align-items: start;
    @media only screen and (max-width: 550px) {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  .findus {
    margin-top: 36px;
    text-decoration: underline;
  }
  
  .stackinfo_one {
    height: 126px;
    align-self: center;
    flex: 1;
    position: relative;
    align-content: center;
    @media only screen and (max-width: 1050px) {
      height: auto;
    }
  }
  
  .rowinfo_one {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-left: auto;
    margin-right: auto;
  }
  
  .info_one {
    height: 20px;
    margin-top: 38px;
    width: 20px;
  }
  
  .image_one {
    height: 126px;
    margin-left: -12px;
    align-self: center;
    position: relative;
    width: 92%;
    object-fit: contain;
    border-radius: var(--radius-md);
  }
  
  .rowtelevision {
    gap: 12px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 14%;
    top: 32%;
    margin: auto;
  }
  
  .television_one {
    height: 14px;
    align-self: start;
  }
  
  .link_one {
    height: 18px;
    width: 18px;
  }
  
  .user_one {
    height: 18px;
  }
  